# Admin Configuration
VITE_ADMIN_UID=
VITE_ADMIN_EMAIL=apatirasulayman@gmail.com

# AI Model Connectivity
GEMINI_API_KEY=

# Firebase Configuration (Optional if using firebase-applet-config.json)
# VITE_FIREBASE_API_KEY=
# VITE_FIREBASE_PROJECT_ID=
# VITE_FIREBASE_APP_ID=
# VITE_FIREBASE_FIRESTORE_DATABASE_ID=
